<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>

<body>
    <center>
        <h1>Edit Category</h1>
        <form action="/updateCat?id=<%= data._id %>" method="post">
            <table>
                <input type="hidden" value="<%= data._id %>"/>
                <tr>
                    <td>Enter Category Name:</td>
                    <td><input type="text" name="categoryname" value="<%= data.CategoryName %>" id=""></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Edit Category"></td>
                </tr>
            </table>
        </form>
       
    </center>
</body>

</html>